<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Calculadora Rosa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input class="display" type="text" [value]=""></ion-input>

    <ion-toolbar>
      <ion-title size="center">Faça seus calculos:</ion-title>
    </ion-toolbar>
    <ion-content>
      <ion-item lines="none">
        <ion-label>{{resultado}}</ion-label>
      </ion-item>
    </ion-content>
      <ion-button shape="round" (click)="limpar()"> AC
      </ion-button>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
